.about_data {
  width: 100%;
  /* height: 100vh; */
  align-items: center;
  background-color: rgb(241, 238, 238);
}
.about_heading {
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.about_heading h1 {
  font-weight: 600;
  line-height: 80px;
padding-top: 30px;
  text-align: center;
}
.about_wrapper {
  display: flex;
padding-left: 20px;
  flex-wrap: wrap;
  padding: 0px 40px;
}
.about_para {
  width: 350px;
  justify-content: space-between;
  padding: 0px 40px;
}
.about_para h3 {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  
}
.about_para hr {
  width: 90%;
}
.about_para li {
  font-size: 20px;
  line-height: 35px;
}
.about_btn {
  padding-left: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.about_btn button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 30px;
}
@media (max-width: 768px) {
  .about_data {
    width: 100%;
    height: auto;
  }
  .about_heading{
  
    padding-left: 20px;
    padding-right: 20px;
   
  }
  .about_heading h1{
    font-size: 20px;
    line-height: 30px;
    width: 300px;
  }
  .about_wrapper{
   padding: 0px 20px 0px 20px;

  }
  .about_para{
    width: 250px; 
    padding: 0px 20px;
  }
  
  .about_para h3{
    font-size: 20px;
   
  }
  .about_para hr{
    width: 90%;
    
  }
  .about_para li{
font-size: 15px;
line-height: 20px;
  }
  
 
}
