.Footer_container {
  width: 100%;
}
.footer_wrapper {
  box-sizing: border-box;

  background-color: gainsboro;
  display: flex;
  margin-bottom: 10px;
}
.footer_intro {
  width: 400px;
  margin-left: 50px;
  margin-right: 30px;
}
.footer_intro p {
  font-size: 18px;
}
.footer_data {
  width: 300px;
  padding: 30px 30px;
}
.footer_data ul li {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.footer_last {
  width: 300px;
  padding: 30px 30px;
  color: black;
}
.footer_last ul li {
  font-size: 20px;
  text-decoration: none;
}
.footer_last link{
  color: #000;
}

.footer_icon {
  padding: 60px 10px;
}
.footer_icon img {
  width: 25%;
}
@media (max-width: 768px) {
  .Footer_container {
    height: auto;
    width: 100%;
  }
  .footer_wrapper {
    display: block;
  }
  .footer_intro {
    width: 250px;
   
    padding: 10px 0px;
  }
  .footer_intro h4 {
    align-items: center;
    font-size: 20px;
    margin: 0px;
    /* padding-left: 30px; */
  }
  .footer_intro p {
    font-size: 15px;
    line-height: 18px;
    
  }
  .footer_data {
    width: 250px;
    padding: 0px 20px;
  }
  .footer_data ul li a {
    font-size: 15px;
    
  }
  .footer_last {
    width: 250px;
    
    padding: 0px 20px;
  }
  .footer_last ul li{
    font-size: 15px;
    color: #000;
  }
  
  .footer_icon {
    padding: 0px 0px 0px 40px;
  }
  .footer_icon img {
    width: 7%;
  }
}
