.Header {
  width: 100%;
  height: 10vh;
  overflow: hidden;
  background-color: gainsboro;
  position: fixed;
  justify-content: space-between;
}
.Header a {
  justify-content: center;
  align-items: center;
  float: left;
  color: black;
  text-align: center;
  padding: 10px 20px;
  font-weight: 700;
  text-decoration: none;
  font-size: 30px;
}

.Header_right {
  float: right;
}
.Header_right a {
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
  padding: 15px 20px;
}
.Header_right a:hover {
  color: red;
}
.mobile_nav {
  display: none;
  float: right;
  position: relative;
}
.hamburger_icon {
  background-color: transparent;
  display: flex;
  padding: 10px;
  justify-content: center;
  border: none;
}
.hamburger_icon img {
  height: 40px;
}

.close {
  transform: translateY(-150%);
  opacity: 0;
}
.open {
  transform: translateY(0);
  opacity: 1;
}
.mobile-Header_right {
  position: absolute;
}
.mobile-Header_right nav {
  margin-top: 30px;
}
.mobile-Header_right nav a {
  font-size: 20px;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .Header {
    position: fixed;
  }
  .Header_right {
    display: flex;
  }
  .mobile_nav {
    display: flex;
    padding-right: 70px;
  }
}
