.Hero {
  width: 100%; }
.Hero_container {
  display: flex;
  justify-content: center;
 
}
.Hero_left {
  width: 50%;
  padding-top: 150px;
  padding-left: 70px;
}
.Hero_heading {
  color: black;
  font-size: 28px;
}
.Hero_heading h1 {
  font-weight: 490;
  width: 500px;
  font-size: 70px;
  line-height: 80px;
}
.Hero_para {
  font-size: 25px;
}
.Hero_para p {
  width: 550px;
}
.Hero_button {
  padding-top: 20px;
  padding-bottom: 20px;
}
.Hero_btn {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 8px 30px;
  border-radius: 20px;
}

.Hero_right {
  padding-right: 20px;
  margin-top: 100px;
}
.Hero_right img {
  width: 650px;
  padding: 10px;
}

@media (max-width: 768px) {
  .Hero_container {
    height: auto;
    display: block;
    justify-content: center;
  }
  .Hero_left {
    width: 100%;
    padding: 40px 20px 20px 20px;
  }
  .Hero_heading {
    font-size: 20px;
  }
  .Hero_heading h1 {
    line-height: 45px;
    font-size: 35px;
    width: 300px;
  }
  .Hero_para {
    font-size: 20px;
  }
  .Hero_para p {
    width: 300px;
  }
  .Hero_button {
    padding: 0px;
  }
  .Hero_btn {
    font-size: 15px;
    padding: 5px 20px;
  }
  .Hero_right {
    padding: 10px;
    margin-top: 0px;
    justify-content: center;
  }
  .Hero_right img {
    margin: 0%;
    width: 200px;
    padding: 0px 60px;
    height: 30vh;
  }
}
